aniso8601==3.0.0
boto==2.48.0
codegen==1.0
decorator==4.2.1
filelock==3.0.4
fs==2.0.20
geoid==1.0.4
LiveStats==1.0
meta===-
petl==1.1.1
python-dateutil==2.7.2
requests==2.18.4
tabulate==0.8.2
xlrd==1.1.0
